:root {
    --main-color--primary: rgba(8, 166, 228, 1); /*blue*/
    --main-color-secondary: rgb(7, 172, 230); /*second blue*/
    --main-color-secondary-opacity: rgba(7, 172, 230, 0.16); /*second blue with opacity*/
    --second-color--primary: rgba(251, 59, 100, 1); /*red*/
    --second-color-secondary: rgba(235, 71, 110, 1); /*second red*/
    --third-color-primary: rgba(85, 223, 180, 1); /*green*/

    --main-background-color: white;
    --second-background-color: rgba(247, 247, 247, 1);

    --main-text-color-primary: rgba(0, 0, 0, 1); /*black*/
    --main-text-color-secondary: rgba(19, 37, 59, 1); /* second black*/
    --second-text-color-primary: rgba(165, 165, 165, 1); /*gray*/
    --second-text-color-secondary: rgba(112, 112, 112, 1); /*second gray*/

    --button-text-color: white;

    --primary-font: 'Open Sans', sans-serif;;
    --secondary-font: 'Raleway', sans-serif;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--main-text-color-primary);
}

/*FONTS
 */

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
 */

/*HEADER
 */

.header {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 130px;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/*NAV BAR
 */

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    color: var(--main-color--primary);
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    padding: 16px 0 17px 0;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 71px; /* space between elements 95px minus padding*/
    padding: 27px;

}

.nav__btn {
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--second-text-color-primary);
    border-bottom: 4px solid transparent;
}

.nav__btn:hover {
    border-bottom: 4px solid var(--main-color--primary);
    color: var(--main-text-color-primary);
}

/*HERO
 */

.hero {
    /*height: 10000px;  !* remember to delete*!*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.heading__background {
    width: 100%;
}

.heading {
    color: var(--main-text-color-primary);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 49px;
    line-height: 57px;
    text-transform: capitalize;
}

.heading__text {
    color: var(--main-text-color-primary);
    font-weight: 400;
    line-height: 22px;
    padding: 20px 0 38px 0;
}

.heading__btn {
    background: var(--main-color--primary);
    box-shadow: 5px 10px 14px var(--main-color-secondary-opacity);
    border-radius: 40px;
    text-decoration: none;
    font-weight: 700;
    color: var(--button-text-color);
    padding: 22px 157px 23px;
}

/*MAIN
 */

.container__second {
    width: 1124px;
    margin: 0 auto;
}

/*STATS
 */

.stats {
    text-align: center;
    padding-bottom: 121px;
}

.stats__heading {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 100px;
}

.stats__columns {
    display: flex;
    justify-content: space-evenly;
}

.stats__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*STATS ICONS WITH BACKGROUNDS
 */

.bkg {
    border-radius: 50%;
    height: 63px;
    width: 63px;
    position: relative;
}

.bkg__first {
    background: var(--second-color--primary);
}

.bkg__second {
    background: var(--main-color--primary);
}

.bkg__third {
    background: var(--third-color-primary);
}

.stats__column__img__first {
    position: absolute;
    top: calc((63px - 52px)/2);
}

.stats__column__img__second {
    position: absolute;
    top: calc((63px - 36.5px)/2);
    right: calc(-50px / 2);
}

.stats__column__img__third {
    position: absolute;
    top: calc((63px - 48px)/2);
}

/*STATS COLUMNS TEXT
 */

.stats__column__heading {
    padding: 14px 0 19px 0;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
}

.stats__column__text {
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--second-text-color-primary);
    font-size: 17px;
    line-height: 20px;
}

.column__second .stats__column__text {
    font-size: 16px;
    line-height: 19px;
}


/*BENEFITS
 */

.benefist {
    background: var(--second-background-color);
    padding-top: 105px;
    padding-bottom: 105px;
}

/*BLOCKS
 */

.blocks {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.block {
    height: 370px;
    display: flex;
    justify-content: space-between;
    gap: 61px;
}

.side__left {
    width: 623px;
}

.side__right {
    width: 440px;
}

.block__first,
.block__second,
.block__third .side__left {
    background: var(--main-background-color);
}

.block__heading {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 42px;
}

.block__text {
    line-height: 22px;
    padding: 30px 0 50px 0;
}

.block img {
    width: 100%;
}

/*BLOCK FIRST LEFT SIDE
 */

.block__first .side__left {
    width: 416px;
    display: flex;
    flex-direction: column;
    padding: 91px 0 91px 35px;
}


.block__first__underline {
    border: 2px solid var(--second-color--primary);
    width: 328px;
    background:  var(--second-color--primary);
}

/*BLOCK FIRST RIGHT SIDE
 */

.block__first .side__right {
    position: relative;
    /*background: purple; pomaga ustawic obrazek */
}

.block__first .side__right img {
    position: absolute;
    padding: 113px 117.5px 38px 0;
    right: 65px;
    z-index: 2;
}

.blockfirst__backgroundfigure {
    height: 180px;
    width: 180px;
    background: var(--second-color--primary);
    border-radius: 41px;
    transform: rotate(45deg);
    position: absolute;
    left: 90px;
    top: 65px;
}


/*BLOCK SECOND RIGHT SIDE
 */

.block__second .side__right {
    display: flex;
    flex-direction: column;
    padding: 69px 20px 71px 0;
}

.block__second__underline {
    border: 2px solid var(--main-color--primary);
    background: var(--main-color--primary);
    width: 328px;
}

/*BLOCK SECOND LEFT SIDE
 */

.block__second .side__left {
    /*background: #3ac569;  pomaga ustawic obrazek */
    position: relative;
}

.block__second img {
    position: absolute;
    width: 426px;
    z-index: 5;
    transform: translate(80px, 36px);
}

.block__second__background__figure {
    background: var(--main-color-secondary);
    border-radius: 50%;
    height: 320px;
    width: 320px;
    position: absolute;
    z-index: 2;
    margin: 12px 0 38px 70px;
}

/*BLOCK THIRD LEFT SIDE
 */

.block__third {
    gap: 61px;
}

.block__third .side__left {
    padding: 69.5px 34px 71px 35px;
    display: flex;
    flex-direction: column;
}

.block.block__third .block__text {
    padding-bottom: 44px;
}

.block__third__underline {
    border: 2px solid var(--third-color-primary);
    width: 328px;
    background:  var(--third-color-primary);
}

/*BLOCK THIRD RIGHT SIDE
 */

.block__third .side__right {
    background: var(--third-color-primary);
    padding: 98px 82px 64px 62.5px;
}


/*PRICING
 */

.container__third {
    width: 1266px;
    margin: 0 auto;
}

.pricing {
    padding-top: 100px;
    padding-bottom: 155px;
}

.pricing__heading {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 71px;
}

/*CARTS GENERAL STYLE
 */

.carts {
    display: flex;
    justify-content: space-between;
    /*gap: 58.5px;*/
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 461px;
    border: 1px solid yellow;
    border-radius: 18px;
}

.cart__heading {
    padding-top: 34px;
    /*padding-bottom: 14px;*/
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 20px;
    /*line-height: 1px;  błąd w XD ?? */
    color: var(--main-text-color-secondary);
}

.cart__price {
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    /*line-height: 2px; błąd w XD ?? */
    padding-top: 14px;
    padding-bottom: 15px;
    /*width: 85px;*/
    /*height: 64px;*/
}

.limited__offer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: var(--main-text-color-secondary);
    /*padding-top: 5px;*/
    padding-bottom: 50px;
}

.cart__left .limited__offer {
    visibility: hidden;
}

.cart_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*line-height: 41px;*/
    gap: 25px;
    font-size: 14px;
}

.cart__button {
    width: 150px;
    /*margin-top: 80px;*/
    transform: translate(0, 55px);
    border-radius: 23px;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 3.5;
    height: 50px;
    text-align: center;
    color: var(--button-text-color);
    background: #55DFB4;
}

/*CARTS DIFFERENT COLOR STYLING
 */

.cart__left {
    border: 1px solid var(--second-color--primary);
}
.cart__left .cart__price {
    color: var(--second-color--primary);
}

.cart__left .cart__button {
    background: var(--second-color-secondary);
}

.cart__middle {
    border: 1px solid var(--main-color-secondary);
}

.cart__middle .cart__price {
    color: var(--main-color-secondary);
}

.cart__middle .cart__button {
    background: var(--main-color-secondary);
}

.cart__right {
    border: 1px solid var(--third-color-primary);
}

.cart__right .cart__price {
    color: var(--third-color-primary);
}

.cart__right .cart__button {
    background: var(--third-color-primary);
}

/*SMALL ICONS
 */

.check:before {
    content: "";
    background-image: url("../assets/chechmarklist-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 11px;
    height: 11px;
    padding: 6px;
    margin-right: 10px;
}

.notincluded:before {
    content: "";
    background-image: url("../assets/Close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 11px;
    height: 11px;
    padding: 6px;
    margin-right: 10px;
}

/*SPECIAL STYLING - MIDDLE CART
 */

.cart__middle {
    width: 405px;
    height: 500px;
    transform: translate(0, -19.5px);
    box-shadow: 5px 10px 27px var(--main-color-secondary-opacity);
}

.cart__middle .cart__heading {
    font-size: 21px;
}

.cart__middle .cart__button {
    width: 165px;
    transform: translate(0, 95px);
    line-height: 3.5;
    box-shadow: 5px 10px 14px var(--main-color-secondary-opacity);
}